body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  transition: background-color 0.3s ease;
}
body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #202d36;
  border-radius: 10px;
}

.top-nav {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px !important;
  height: 80px;
  transition: background-color 0.3s ease;
}
.nav-title {
  font-weight: 700;
  font-size: 20px;
}
.icon {
  font-size: 23px;
}
.mode-container {
  cursor: pointer;
}
.btn {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 50px;
}
.btn:focus {
  border: none !important;
}

.form-select {
  width: 200px !important;
}
.form-control {
  height: 55px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: none !important;
  padding-left: 60px !important;
  position: relative;
  transition: background-color 0.3s ease;
}

.search-icon {
  position: absolute;
  top: 125px;
  left: 70px;
  z-index: 10;
  font-size: 20px;
  color: gray;
}

.form-control:focus {
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
  outline: none !important;
}

.form-select {
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
  font-size: 18px;
  cursor: pointer;
}

.form-select:focus {
  border: none !important;
  outline: none !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
}

.form-select option {
  background-color: #f5f5f5;
  color: #333;
  font-size: 18px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
}

/* Style the selected option */
.form-select option:checked {
  background-color: lightgrey;
  color: #000;
}

.card {
  margin-top: 50px !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  cursor: pointer;
  height: 440px !important;
  background-color: transparent !important;
  transition: background-color 0.3s ease;
}

.card:hover .card-img {
  transform: scale(1.09);
}

.card-img {
  width: 200px;
  height: 230px;
  object-fit: fill;
  transition: all.5s;
}

.card-text strong {
  font-weight: 500 !important;
  font-size: 18px;
}
.card-text {
  font-weight: 400;
  margin-bottom: 10px;
}
.card-body{
  background-color: transparent !important;
}

.card-body .title-card{
  text-decoration: none;
  color: #000;
}

.select {
  display: flex;
  justify-content: end;
}
/* Checkbox style */
.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 99999;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.switch {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
  background-color: #ccc;
  border-radius: 17px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.switch:before,
.switch:after {
  content: "";
  position: absolute;
  top: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.switch:before {
  left: 2px;
  background-color: #fff;
}

.switch:after {
  right: 2px;
  background-color: #2B3743;
}

.switch-container input[type="checkbox"] {
  visibility: hidden;
}

.switch-container input[type="checkbox"]:checked + .switch:before {
  transform: translateX(26px);
}

.switch-container input[type="checkbox"]:checked + .switch:after {
  transform: translateX(-26px);
}

.switch-container input[type="checkbox"]:checked + .switch {
  background-color: #6e6e6e;
}

/* Checkbox style end */

/* Dark Mode style */

.dark-body {
  background-color: #202d36;
  color: #fff;
}
.dark-nav {
  background-color: #2b3743;
}
.dark-card{
  background-color: #2B3743 !important;
  color: #fff !important;
}
.dark-card::placeholder{
  color: #fff !important;
}

/* Dark Mode style end */
@media only screen and (max-width: 992px) {
  .hidden-icon {
    display: none;
  }
  .form-control {
    padding: 0 20px !important;
  }
  #cards-row {
    padding: 0 !important;
  }
  .card {
    max-width: 100% !important;
  }
}

@media only screen and (max-width: 576px) {
  .select {
    justify-content: start;
    margin-top: 30px !important;
    height: 50px;
  }
}
